body{
    margin: 0%;
}

main{
    display: flex;
}
main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding-left: 2em ;
    padding-right: 2em ;
}